<%= form_with model: post, class: "form" do |form| %>

    <%= form.text_field :title, id: "form-title" %>
    <% post.errors.full_messages_for(:title).each do |message| %>
      <div class="alert alert-danger"><%= message %></div>
    <% end %>

    <%= form.text_area :body, id: "form-body" %>
    <% post.errors.full_messages_for(:body).each do |message| %>
      <div class="alert alert-danger"><%= message %></div>
    <% end %>


    <%= form.file_field :image, id: "form-file" %>

    <%= form.submit({ id: "btn dark-btn submit-btn" }) %>
<% end %>