<%= form_with model: post, class:"form" do |form| %>

    <%= form.text_field :title, class: "form-title" %>
    <% post.errors.full_messages_for(:title).each do |message| %>
      <div class="alert alert-danger"><%= message %></div>
    <% end %>

    <%= form.text_area :body, class:"form-body" %>
    <% post.errors.full_messages_for(:body).each do |message| %>
      <div class="alert alert-danger"><%= message %></div>
    <% end %>


    <%= form.file_field :image, class:"form-file" %>

    <%= form.submit({ class: "btn dark-btn submit-btn" }) %>
<% end %>