 <% if user_signed_in? %>
  
<%= link_to "Create post", new_post_path, class: "btn dark-btn" %>
  <% end %>
  <ul class="posts-wrapper">
<% @posts.each do |post| %>
<%= link_to post do %>
<li class="post">
<h2 class="post-title">
<%= post.title %>
</h2>
<div class="post-img">
<% if post.image.attached? %>
<%= image_tag(post.image, style: "width: 400px;") %>
<% end %>
</div>
<span>
  <%= post.created_at.strftime("%e %B") %>
</li>
<% end %>
<% end %>
</ul>