<h2 class="post-title"><%= @post.title %></h2>
<textarea disabled class="post-body"><%= sanitize @post.body %></textarea>
<% if @post.image.attached? %>
  <%= image_tag(@post.image, class: "post-img") %>
  <% end %>


<%= link_to "Edit", edit_post_path(@post), :class=>'btn dark-btn edit-btn' %>
<%= button_to "Delete", post_path(@post), method: :delete,:class=>'btn dark-btn delete-btn' %>
<%= link_to "Show all posts", posts_path %>
<h2 class="comment-title">Комментарии</h2>
<% @post.comments.each do |comment| %>
    <p><strong><%= comment.username %> : </strong></p>
    <%= comment.body %>
<% end %>
<h3>Добавление комментария</h3>
<%= form_for([@post, @post.comments.build]) do |form|%>
    <div class="comment-input">
    <span class="input-title">
    User
    </span>
      <%= form.text_field :username %>
    </div>
    <div class="comment-input">
        <span class="input-title">
    Comment
    </span>
    <%= form.text_area :body %>
  </div>
    <%= form.submit({:class=>'btn dark-btn create-btn'}) %>
<% end %>