<h2><%= @post.title %></h2>
<div><%= sanitize @post.body %></div>
<p>
<% if @post.image.attached? %>
  <%= image_tag(@post.image, style:"width: 200px;") %>
  <% end %>
</p>

<%= link_to "Edit", edit_post_path(@post), :class=>'btn btn-success' %>
<%= button_to "Delete", post_path(@post), method: :delete %>
<%= link_to "Show all posts", posts_path %>
<h2>Комментарии</h2>
<% @post.comments.each do |comment| %>
    <p><strong><%= comment.username %> : </strong></p>
    <%= comment.body %>
<% end %>
<h2>Добавление комментария</h2>
<%= form_for([@post, @post.comments.build]) do |form|%>
    <p>
    User<br>
      <%= form.text_field :username %>
    </p>
    <p>
    Comment<br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit({:class=>'btn btn-succes'}) %>
  </p>
<% end %>